.title {
    font-family: BlackHanSans-Regular;
    font-size: 7.5em;
    color: white;
}

.subtitle {
    font-family: BlackHanSans-Regular;
    font-size: 3em;
    color: white;
}

#jumbotron {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    place-items: center;
    user-select:none;
}

@keyframes wave {
    0% {
        background-position-x: 500px;
    }
    100% {
        background-position-x: -500px;
    }
}