@font-face {
  font-family: 'BlackHanSans-Regular'; src: url('assets/fonts/BlackHanSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DoHyeon-Regular'; src: url('assets/fonts/DoHyeon-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(32, 32, 32);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden scroll;
}